/*Estilos a las secciones */

#first-section,#last{
  background-image: url("../assets/images/lyft.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: absolute;
  width: 100%;
}

#second-section{
  background-image: url("../assets/images/car.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  height: 100vh;
  position: absolute;
  width: 100%;
}

#third-section{
  background-color: #fff;
}

/* EStilos primer vista */
a{
  text-decoration: none;
  color: #000;
}

a:hover{
  text-decoration: none;
  color: #000;
}

.principalBtn{
  background: none;
  border: 3px solid #000;
  color:#000;
  font-size: 2em;
  font-weight: bold;
  height: 5vh;
  margin-left: 30%;
  margin-top: 20%;
  width: 20%;
}

.principalBtn2{
  background: none;
  border:3px solid #000;
  color:#000;
  font-size: 2em;
  font-weight: bold;
  height: 5vh;
  margin-top: 20%;
  width: 20%;
}

/*Estilos segunda vista */

h1 {
  color: #fff;;
  font-size: 3em;
  font-weight: 800;
  margin-top: 5em;
}

.return{
  color: #ff00bb;
}

.next{
  background-color: #ff00bb;
  color: #fff;
  width: 100%;
}

#check{
  position: relative;
  height: 30vh;
  margin-top: 70vh;
  margin-left: 40%;
  width: 30%;
}
